<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<div class="wrapper">
        
    <title>Document</title>
    <link rel='stylesheet' href="{%static 'css/comingsoon.css'  %}" />

</head>
<body>
    <div class="wrapper">
        <h1>coming soon<span class="dot">.</span></h1>
        <p>Put some text here.</p>
        <div class="icons">
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-youtube-play"></i></a>
          <a href=""><i class="fa fa-paper-plane"></i></a>
        </div>
       </div>
</body>
</html>